

.container1{
  width: 95%;

  margin: auto;
}

.clear::after{
  content: "";
  clear: both;
  display: block;
}



/* 
.header-wrap{
  position: fixed;
  top: 0;
 
} 

/* header{
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing:border-box;
   z-index:500;


} */
/* 
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.header-wrap{
height: 70px;
position: sticky;
top: 0;
left: 0;
z-index: 1;
}

.header-left{
  float: left;
}

.header-right{
  float: right;
 
}


.header-logo{
  line-height: 70px;
}

.header-logo img{
  width: 70px;
}

.header-nav-item{
  float: left;
  margin-left: 30px;
}



.header-nav li{
    line-height: 70px;
  font-size: 16px;
  list-style: none;
}

.header-nav a{
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.container{

  max-width: 1200px;
  margin: auto;
}


.header-logo:hover{
  opacity: 0.7;
  cursor: pointer;
}

.header-nav-item:hover{
  opacity: 0.7;
  cursor: pointer;
}


/* ----------------------- */

.mainvisual{
  height: 260px;
  background: url(../img/mv.png) no-repeat;
  background-size: cover;
  background-position:center;
  position: relative;
  z-index: 100;
}

.mainvisual h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 1; 
}

/* ----------------------- */

.news{
height: 300px;
position: relative;
}

.news-list {
  margin-top: 100px;
  text-align: center;
}

.news-item{
 display: inline-block;
  width: 69%;
  text-align: left;
  background-color: #fff;
  font-weight: bold;
  padding: 30px;
  color: #000;
  text-decoration: none;

  margin-bottom: 10px;
  border: 1px solid #000;
}

.news-item span{
  font-weight: 100;
  margin-right: 20px;
}


.news-item:hover{
  opacity: 0.7;
  cursor: pointer;
}

/* --------------------- */

.contact{
  background:#f5f6f9;
  padding-bottom: 60px;
}
.contact-title{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding: 70px 0 30px 0;
  margin: 0;
  margin-top: 60px;
}

.contact p{
text-align: center;
margin-bottom: 40px;
}  


/* ----------------- */
.container3{
  width: 1300px;
  margin: auto;
}

.footer-bar {
  height: 70px;
    background: #000;
    display: flex;
    justify-content: space-between;

}

.footer-copy{
  color: #fff;
   font-size: 12px;
}


.footer-nav li{
  font-size: 12px;
}

.footer-nav a{
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.about-btn:hover{
 opacity: 0.7;
 cursor: pointer;

}

.footer-left{
  float: left;
}

.footer-right{
  float: right;
}

.footer-nav-item{
  float: left;
  margin-left: 20px;
}

.footer-nav-item:hover{
  opacity: 0.7;
  cursor: pointer;
}